asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
autopep8==1.5.4
backcall==0.1.0
beautifulsoup4==4.8.1
bitstring==3.1.7
bs4==0.0.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.0
Django==2.1.7
django-crispy-forms==1.7.2
django-extensions==2.1.6
djangorestframework==3.10.1
dpkt==1.9.4
ez-setup==0.9
future==0.17.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython==7.7.0
ipython-genutils==0.2.0
isort==4.3.15
jedi==0.15.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Logbook==1.5.2
lxml==4.4.1
matplotlib==3.0.3
mccabe==0.6.1
mysqlclient==1.4.2
numpy==1.16.2
pandas==0.25.3
parsel==1.5.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==2.0.9
py==1.8.0
py3shark==0.4.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycodestyle==2.6.0
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyshark==0.4.2.9
python-dateutil==2.8.0
pytz==2018.9
PyX==0.15
queuelib==1.5.0
requests==2.22.0
reverse-engineer==1.1
reverse-geocode==1.3
reverse-geocoder==1.5.1
scapy==2.4.3
scipy==1.2.1
Scrapy==1.7.3
seaborn==0.9.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.4
toml==0.10.2
traitlets==4.3.2
Twisted==19.7.0
typed-ast==1.3.1
urllib3==1.25.6
virtualenv==16.6.2
virtualenvwrapper-win==1.2.6
w3lib==1.21.0
wcwidth==0.1.7
wrapt==1.11.1
zope.interface==4.6.0
